<div *ngIf="errors.message" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error</strong> {{errors.message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="cepForm" method="post" role="form">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="states">Estados</label>
                <select class="form-control" id="states" name="states" formControlName="states" (change)="onSelectedState($event)">
                    <option value="" selected>Selecione um estado</option>
                    <option *ngFor="let state of states" value="{{state.id}}">{{state.nome}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group" *ngIf="cities">
                <label for="cities">Cidades</label>
                <select class="form-control" id="cities" name="cities" formControlName="cities" (change)="onSelectedCity($event)">
                    <option value="" selected>Selecione uma cidade</option>
                    <option *ngFor="let city of cities" value="{{city.id}}">{{city.nome}}</option>
                </select>
            </div>
        </div>
    </div>
</form>

<div *ngIf="loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>

<div class="row">
    <div class="col-12" *ngIf="chart">
        <form [formGroup]="yearsForm" method="post" role="form">
            <div class="form-group">
                <label for="years">Ano</label>
                <select class="form-control" id="years" name="years" formControlName="years"
                    (change)="onSelectedYear($event)">
                    <option value="">Selecione o ano</option>
                    <option *ngFor="let year of years" value="{{year.value}}">{{year.value}}</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div id="chart"></div>